#tit_ppal
{
    color: white;
     background-color: red;
     text-align: right;
}

#cabecera{
    color: black;
    font-size: xx-large;
}
#container
{
    background-color: white;
    text-align: center;
    color: red;
}
#seccion_arg
{
    background-color: red;
    color: white;
}
h1{
    text-align: center;
    color: white;
}
body
{
    background-color: red;
}